<div class="min-h-screen">
    <body class="bg-cover bg-center px-3 flex flex-col justify-center items-center py-12" style="background-image: url('HomeBackground.avif');">
        <div class="max-w-7xl mx-auto px-auto">
            <h2 class="text-3xl md:text-4xl font-bold text-center mb-8 text-black">Motibo - Algemene Verkoopsvoorwaarden</h2>
            
            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-l md:text-xl font-bold mb-4 text-black">1.</span>
                <span class="text-base md:text-sm max-w-4xl  mb">De algemene voorwaarden zijn van toepassing op alle verkopen/herstellingen gerealiseerd door Motibo alsmede op haar facturen. Elke bestelbon ondertekend door de klant verbindt deze onherroepelijk en bevestigt dat hij kennis heeft genomen van de verkoopsvoorwaarden. Voor wat in deze niet voorzien is, is gewoon de wet van toepassing.</span>
            </h3>

            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-l md:text-xl font-bold mb-4 text-black">2.</span>
                <span class="text-base md:text-sm max-w-4xl  mb">Elke bestelling moet uitgevoerd worden tegen hetzij contante betaling, hetzij door overschrijving, bij levering of voorafgaand aan de levering. Indien de klant weigert levering te nemen van de bestelde goederen, heeft de verkoper de keuze, ofwel hem gerechtelijk hiertoe te dwingen, ofwel als tegenprestatie, als schadevergoeding wegens vernietiging van de verkoop een bedrag te eisen dat gelijk is aan 20%van de overeengekomen prijs.</span>
            </h3>

            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-l md:text-xl font-bold mb-4 text-black">3.</span>
                <span class="text-base md:text-sm max-w-4xl  mb">De bestekken en de bestelbonnen zijn gebaseerd op de thans geldende waarden van lonen en materialen. Indien
                    deze wijzigingen ondergaan, behouden wij ons het recht voor de prijzen op evenredige wijze aan te passen.
                </span>
            </h3>

            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-l md:text-xl font-bold mb-4 text-black">4.</span>
                <span class="text-base md:text-sm max-w-4xl  mb">De waarborg die wij toekennen bij levering aan particulieren, is beperkt tot 02 jaar vanaf de levering, wanneer het
                    nieuwe goederen betreft. In geval van levering van tweedehandse goederen beperkt de garantie zich tot 01 jaar
                    vanaf de levering. De garantie is beperkt tot de garantieverplichting zoals is voorzien in de wet van 01/09/2004
                    (BSB 21/09/2004). Onverminderd de artikelen 1641 tot 1648 B.w. en de Wet van 25/02/1991 en 01/09/2004 met
                    betrekking tot de aansprakelijkheid van gebrekkige goederen kennen wij uitsluitend als waarborg deze toegekend door de constructeur binnen de grenzen door deze laatste omschreven.
                    
                </span>
            </h3>

            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-l md:text-xl font-bold mb-4 text-black">5.</span>
                <span class="text-base md:text-sm max-w-4xl  mb">De waarborg strekt zich niet uit tot de gevolgen van normale slijtage.
                    De verborgen gebreken zijn door de waarborg gedekt gedurende een periode van één jaar vanaf de levering. Zij
                    moeten aan de verkoper gemeld worden binnen de kortst mogelijke termijn, en indien nodig, bij aangetekend
                    schrijven binnen een termijn van 30 kalenderdagen vanaf het ogenblik dat de koper ze vaststelt of ze normaal had
                    moeten vaststellen.
                    
                </span>
            </h3>

            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-xl md:text-2xl font-bold text-black">6.</span>
                <div class="text-base md:text-sm max-w-4xl text-black">
                    <p class="mb-2">Uitgesloten van garantie zijn :</p>
                    <ol class="list-[lower-alpha] space-y-2 pl-6">
                        <li>aan slijtage onderhevige onderdelen als in het bijzonder zuigers, cilinders, bougies, accu’s, benzinefilters,
                            oliefilterelementen, aandrijfkettingen, tandwielen, kettingwiel, luchtfilters, remschijven, remblokken,
                            koppelingsschijven, lampen, zekeringen, voetrustrubbers, banden, slangen, kabels van Bowden en andere
                            rubberdelen;
                            </li>
                        <li>smeermiddelen (zoals bijv. olie, vet, enz.) en technische vloeistoffen (zoals bijv. batterij-elektrolyt,
                            radiatorkoelmiddel, enz.);
                            </li>
                        <li>inspectie-, instellings- en andere periodieke onderhoudswerkzaamheden alsook alle
                            reinigingswerkzaamheden;
                            </li>
                        <li>lak- of corrosieschade die te wijten is aan externe invloeden als steenslag, strooizout, industriegassen en
                            andere milieu-invloeden of aan ondeskundige reiniging (bijv. door ongeschikte onderhoudsmiddelen);
                            </li>
                        <li>alle indirecte en directe schade als gevolg van gebreken zoals indirecte en directe door een schadegarantiegeval
                            veroorzaakte bijkomende kosten (zoals bijv. telecommunicatie, verzorging, accommodatie,
                            huurwagen, openbare verkeersmiddelen, bergings-, wegsleep-, overnachtingskosten, enz.) en andere
                            financiële nadelen (zoals bijv. onbruikbaarheid door uitval, loonderving, tijdverlies en dergelijke);
                            </li>
                        <li>eventuele esthetische of akoestische verschijnselen die de bruikbaarheid van de motorfiets niet of slechts
                            in geringe mate belemmeren (zoals bijv. verborgen of onbeduidende schoonheidsfouten, normale
                            rijgeluiden of vibraties);
                            </li>
                        <li>ouderdomsverschijnselen (zoals bijv. het verbleken van gelakte of met metaal beklede oppervlakten).</li>
                    </ol>
                </div>
            </h3>

            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-xl md:text-2xl font-bold text-black">7.</span>
                <div class="text-base md:text-sm max-w-4xl text-black">
                    <p class="mb-2">De waarborgverplichting vervalt onmiddellijk en van rechtswege in volgende hypotheses :</p>
                    <ol class="list-[lower-alpha] space-y-2 pl-6">
                        <li>Plaatsing van niet originele CFMoto/GTS stukken of onderdelen of stukken en onderdelen die niet het
                            kwaliteitsniveau hebben van de originele CFMoto/GTS stukken of onderdelen.</li>
                        <li>Wijzigingen aan het voertuig elders uitgevoerd dan in onze werkplaats</li>
                        <li>Het niet respecteren van de door de fabrikant opgegeven onderhoudsintervallen of voorschrift</li>
                        <li>Het onoordeelkundig gebruik van het voertuig of het leveren van prestaties voor dewelke het voertuig niet
                            specifiek werd ontworpen, zoals bv het gebruik van het voertuig voor wedstrijden</li>
                    </ol>
                </div>
            </h3>

            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-l md:text-xl font-bold mb-4 text-black">8.</span>
                <span class="text-base md:text-sm max-w-4xl  mb">De zendingen, zelfs franco, worden verricht op risico van de geadresseerde.
                </span>
            </h3>

            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-l md:text-xl font-bold mb-4 text-black">9.</span>
                <span class="text-base md:text-sm max-w-4xl  mb">De voertuigen die ons toevertrouwd worden, zelfs als ze bestuurd worden door ons personeel, blijven gedekt door
                    de eigen verzekering onderschreven van de klant, en bij gebrek aan dekking door de verzekering, onder de volledige
                    aansprakelijkheid/verantwoordelijkheid van de klant.
                    
                </span>
            </h3>

            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-l md:text-xl font-bold mb-4 text-black">10.</span>
                <span class="text-base md:text-sm max-w-4xl  mb">Wij wijzen elke verantwoordelijkheid af bij verlies of diefstal, van alle losse voorwerpen die in de voertuigen achtergelaten worden, en bij brand of overstroming.
                </span>
            </h3>

            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-l md:text-xl font-bold mb-4 text-black">11.</span>
                <span class="text-base md:text-sm max-w-4xl  mb">De uitvoeringstermijnen van de werken worden alleen als aanwijzing gegeven en kunnen bij vertraging geen grond tot enige vordering opleveren
                </span>
            </h3>

            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-l md:text-xl font-bold mb-4 text-black">12.</span>
                <span class="text-base md:text-sm max-w-4xl  mb">Alle betalingsverplichtingen in hoofde van de klant dienen uitgevoerd te worden in de woonplaats van de verkoper.
                    Het bedrag van onze facturen is contant en aan ons adres betaalbaar, behalve speciale overeenkomst schriftelijk
                    vermeld.
                    
                </span>
            </h3>

            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-l md:text-xl font-bold mb-4 text-black">13.</span>
                <span class="text-base md:text-sm max-w-4xl  mb">Klachten in verband met de factuur moeten schriftelijk gebeuren en dit uiterlijk binnen de 8 kalenderdagen. Met latere klachten zal geen rekening kunnen worden gehouden.
                    Klachten in verband met de kwaliteit en conformiteit van de geleverde goederen dienen per aangetekend schrijven
                    kenbaar gemaakt te worden binnen de 2 maanden na levering. Na deze termijn zijn ze niet meer aanvaardbaar.
                    
                </span>
            </h3>

            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-l md:text-xl font-bold mb-4 text-black">14.</span>
                <span class="text-base md:text-sm max-w-4xl  mb">Een eis tot schadevergoeding ingediend door de klant kan nooit het door Motibo gefactureerde bedrag overschrijden. Dergelijke eis is alleszins niet ontvankelijk indien de niet-levering of slechts gedeeltelijke levering een gevolg is van overmacht.
                </span>
            </h3>

            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-l md:text-xl font-bold mb-4 text-black">15.</span>
                <span class="text-base md:text-sm max-w-4xl  mb">Elke factuur die niet binnen de vooraf bepaalde termijn betaald wordt, zal bij niet betaling, van rechtswege en
                    zonder ingebrekestelling 10% intrest per jaar opbrengen. Er wordt bovendien uitdrukkelijk overeengekomen dat bij
                    niet-betaling binnen de vooropgestelde termijn na ontvangst van de factuur deze laatste zal vermeerderd worden
                    met een forfaitaire vergoeding van 10% en dit met een minimum van 75€ voor interne kosten, eventuele
                    gerechtskosten niet inbegrepen. Deze clausule wordt door de klant aanvaard in toepassing van artikels 1147,
                    1152 en 1229 van het Burgerlijk Wetboek.
                    
                </span>
            </h3>

            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-l md:text-xl font-bold mb-4 text-black">16.</span>
                <span class="text-base md:text-sm max-w-4xl  mb">Ter garantie van de nakoming van de betalingsverbintenissen door de klant blijft een voor herstel binnengebrachte vervoer ter beschikking van de hersteller - verkoper ter plaatse de garage totdat de volledige factuurschuld is gedelgd;
                    bij gebreke aan volledige betaling binnen de drie maanden na factuurdatum mag het betreffende vervoer ten voordele van de hersteller - verkoper zonder verdere verwittiging gebruikt of verkocht worden ter delging van de factuurschuld en waarbij het batig saldo ter beschikking van de klant wordt gehouden, na afhouding van de door het in gebreke blijven van de klant veroorzaakte kosten en schadevergoedingen (w.o. minimaal interesten en verhoging), één en ander onder voorbehoud van een bewezen schriftelijke andersluidende en door beide partijen ondertekende overeenkomst.
                    
                </span>
            </h3>

            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-l md:text-xl font-bold mb-4 text-black">17.</span>
                <span class="text-base md:text-sm max-w-4xl  mb">Vanaf de datum dat uw voertuig, dat door ons onderhouden, hersteld of onderzocht werd, en u hier bericht over heeft gekregen hebt u 5 werkdagen de tijd om het voertuig op te halen, daarna wordt er een stallingsvergoeding van 5 € per dag aangerekend worden. 
                </span>
            </h3>

            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-l md:text-xl font-bold mb-4 text-black">18.</span>
                <span class="text-base md:text-sm max-w-4xl  mb">In geval van niet-betaling van onze facturen op de overeengekomen vervaldag, kunnen wij onmiddellijk van
                    rechtswege en zonder aanmaning de overeenkomst als verbroken beschouwen. De verkoper zal vanaf dat ogenblik
                    gemachtigd zijn om het verkochte goed terug te halen bij de koper, zonder dat afbreuk gedaan wordt aan de
                    herstelling van het geleden nadeel.
                    
                </span>
            </h3>

            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-l md:text-xl font-bold mb-4 text-black">19.</span>
                <span class="text-base md:text-sm max-w-4xl  mb">Wij behouden ons het recht voor, om de overeenkomst van rechtswege en zonder voorafgaande ingebrekestelling
                    als verbroken te beschouwen in geval van faillissement, kennelijk onvermogen, gerechtelijk akkoord, aanstelling
                    van een collectieve schuldbemiddelaar, alsook bij om het even welke wijziging aan de juridische toestand van de
                    opdrachtgever
                    
                </span>
            </h3>

            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-l md:text-xl font-bold mb-4 text-black">20.</span>
                <span class="text-base md:text-sm max-w-4xl  mb">Tussen de verkoper en de koper wordt uitdrukkelijk overeengekomen dat, in afwijking van artikel 1583 van het Burgerlijk Wetboek, de geleverde goederen de exclusieve eigendom van de verkoper blijven tot de volledige betaling van de hoofdsom, eventuele interesten en kosten. Niettemin gaan alle risico's gekoppeld aan het verkocht goed, over op koper vanaf het ogenblik van de levering
                </span>
            </h3>

            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-l md:text-xl font-bold mb-4 text-black">21.</span>
                <span class="text-base md:text-sm max-w-4xl  mb">Het feit dat de verkoper één of andere clausule welke in zijn voordeel gestipuleerd wordt in de huidige algemene
                    voorwaarden niet toepast kan niet geïnterpreteerd worden als een afstand van zijnentwege om zich erop te
                    beroepen
                    
                </span>
            </h3>

            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-l md:text-xl font-bold mb-4 text-black">22.</span>
                <span class="text-base md:text-sm max-w-4xl  mb">De fotokopieën, telefaxen, scans, Whatsup/SMS berichten en e-mails door ons opgesteld hebben bewijskracht zoals originelen.
                </span>
            </h3>

            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-l md:text-xl font-bold mb-4 text-black">23.</span>
                <span class="text-base md:text-sm max-w-4xl  mb">Met betrekking tot particulieren gelden huidige verkoopsvoorwaarden wederkerig
                </span>
            </h3>

            <h3 class="flex items-baseline gap-2">
                <span class="mt-12 text-l md:text-xl font-bold mb-4 text-black">24.</span>
                <span class="text-base md:text-sm max-w-4xl  mb">Bij gebeurlijke geschillen zijn uitsluitend de Rechtbanken van het arrondissement Leuven of het Vredegerecht van Leuven 1 bevoegd.
                </span>
            </h3>
            
          </div>
    </body>
  </div>
