<div class="min-h-screen">
    <body class="bg-cover bg-center px-3 flex flex-col justify-center items-center py-12" style="background-image: url('HomeBackground.avif');">
      <div class="max-w-7xl mx-auto px-auto items-center">
        <h2 class="text-3xl md:text-4xl font-bold text-center text-black">Waarom voor CFMOTO kiezen?</h2>

        <div class="flex justify-center items-center m-12">
          <img src="/bikes/cfmoto/cfmoto_warranty.png" alt="5 jaar garantie" class="max-h-64 text-center">
        </div>
        
        
        
        <p class="text-lg md:text-xl text-center max-w-4xl mx-auto mb-12">
          Bij CFMOTO staan technologie en kwaliteit centraal in alles wat ze doen. Het merk investeert voortdurend in de ontwikkeling van geavanceerde management- en productiesystemen, waardoor ze in staat zijn om vooruitstrevende en betrouwbare motoren en voertuigen te leveren die ongeëvenaard zijn in kwaliteit. De tijd, energie en expertise die CFMOTO in hun processen stopt, resulteren in producten die niet alleen de tand des tijds doorstaan, maar ook blijven voldoen aan de hoogste prestatienormen.
        </p>
        <app-carousel class="mb-16" [images]="carouselImages"></app-carousel>
  
        <p class="text-lg md:text-xl text-center max-w-4xl mx-auto m-12">
          CFMOTO's missie is duidelijk: ze willen zich onderscheiden door uitmuntende ontwerpen na te streven en door onophoudelijk te innoveren. Dit stelt CFMOTO in staat om uitdagende en opwindende voertuigen te creëren die altijd voorop lopen in de industrie. Ze omarmen vernieuwing en streven ernaar om betrouwbare en spannende ervaringen te leveren aan hun klanten, waarbij geen enkele uitdaging te groot is.
        </p>

        <p class="text-lg md:text-xl text-center max-w-4xl mx-auto m-12">
          Dankzij deze toewijding aan kwaliteit en technologische innovatie blijft CFMOTO niet alleen de verwachtingen overtreffen, maar biedt het ook motoren die grenzen verleggen, zowel op de weg als off-road. Bij Motibo bieden we je de kans om deze kwaliteitsproducten van CFMOTO te ervaren, met de zekerheid dat je kiest voor betrouwbaarheid en hoogwaardige prestaties.
        </p>

        <h3 class="mt-12 text-2xl md:text-3xl font-bold text-center mb-8 text-black">Onze Demo modellen</h3>

        <!-- Bikes -->
        <!-- <div class="flex-wrap gap-6 gap-y-6 justify-center hidden"> -->
        <div class="flex flex-wrap gap-6 gap-y-6 justify-center pb-9">
          <app-bike-card
            image="/bikes/cfmoto/MT800_explore_side.jpg"
            title="MT800 Explore (Wit)"
            buttonName="Maak een proefrit"
            buttonLink="/contact"
            price="12.999"
          ></app-bike-card>
        
          <app-bike-card
            image="/bikes/cfmoto/450MT_blue_side.jpg"
            title="MT450 (Blauw)"
            buttonName="Maak een proefrit"
            buttonLink="/contact"
            price="6.999"
          ></app-bike-card>
        </div>
        
        <p class="text-lg md:text-xl text-center max-w-4xl mx-auto m-8">
          Ben je geïnteresseerd in het kopen van een nieuwe motor uit onze showroom of wil je een proefrit op één van onze demo modellen? dit kan op afspraak. Wil je een motor van CFMoto kopen die niet in onze showroom beschikbaar is? Wij kunnen ook alle andere modellen van CFMoto leveren.
        </p>

        <!-- Centered button without the flex on the button itself -->
        <div class="flex justify-center mt-2">
          <button
            class="bg-red-500 hover:bg-red-700 hover:underline text-white font-bold py-3 px-6 rounded-md shadow-md transition"
            routerLink="/contact"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            Contacteer ons
          </button>
        </div>

        <h3 class="mt-12 text-2xl md:text-3xl font-bold text-center text-black">Onze toonzaalmodellen</h3>
        <p class="text-lg md:text-xl text-center max-w-4xl mx-auto m-8">
          Deze modellen kan je bij ons in de toonzaal komen bezichtigen!
        </p>

        <!-- Bikes -->
        <!-- <div class="flex-wrap gap-6 gap-y-6 justify-center hidden"> -->
        <div class="flex flex-wrap gap-6 gap-y-6 justify-center pb-9">
          <app-bike-card-extern
            image="/bikes/cfmoto/125NK.jpg"
            title="125 NK (blauw)"
            buttonName="Meer details"
            buttonLink="https://cfmotobenelux.com/model/125nk/"
            price="3.699"
          ></app-bike-card-extern>
        
          <app-bike-card-extern
            image="/bikes/cfmoto/675NK_side.jpg"
            title="675 NK (Zwart)"
            buttonName="Meer details"
            buttonLink="https://cfmotobenelux.com/model/675nk/"
            price="6.999"
          ></app-bike-card-extern>

          <app-bike-card-extern
            image="/bikes/cfmoto/675SR-R_side.jpg"
            title="675 SR-R (Wit)"
            buttonName="Meer details"
            buttonLink="https://cfmotobenelux.com/model/675sr-r/"
            price="7.999"
          ></app-bike-card-extern>

          <app-bike-card-extern
            image="/bikes/cfmoto/450MT_grey_side.jpg"
            title="450 MT (Grijs)"
            buttonName="Meer details"
            buttonLink="https://cfmotobenelux.com/model/450mt/"
            price="6.999"
          ></app-bike-card-extern>

          <app-bike-card-extern
            image="/bikes/cfmoto/700MT_side.jpg"
            title="700 MT Adventure (Zwart)"
            buttonName="Meer details"
            buttonLink="https://cfmotobenelux.com/model/700mt-adventure/"
            price="7.499"
          ></app-bike-card-extern>

          <app-bike-card-extern
            image="/bikes/cfmoto/800MT_sport_black.webp"
            title="800 MT Sport (Zwart)"
            buttonName="Meer details"
            buttonLink="https://cfmotobenelux.com/model/cfmoto-benelux-800mt-sport-motorctycle/"
            price="9.999"
          ></app-bike-card-extern>

          <app-bike-card-extern
            image="/bikes/cfmoto/800MTX_side_black.webp"
            title="800 MT-X (Zwart)"
            buttonName="Meer details"
            buttonLink="https://cfmotobenelux.com/model/800mt-x/"
            price="10.999"
          ></app-bike-card-extern>

          <app-bike-card-extern
            image="/bikes/cfmoto/450SRS_side.webp"
            title="450 SRS (Zwart)"
            buttonName="Meer details"
            buttonLink="https://cfmotobenelux.com/model/450-srs/"
            price="6.999"
          ></app-bike-card-extern>
        </div>

        <div class="flex justify-center items-center mt-4">
          <a
            href="https://cfmotobenelux.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="mt-2 hover:bg-gray-400 bg-gray-800 hover:underline hover:text-black text-white font-bold py-3 px-6 rounded-md shadow-md transition"
          >
            Bekijk alle CF Motoren op CFMotobenelux
          </a>
        </div>

      </div>
    </body>
  </div>
  