<div
  class="max-w-xs bg-white border border-gray-200 rounded-lg shadow-md overflow-hidden transform transition-transform duration-300 hover:scale-105"
>
  <img [src]="image" alt="Bike Image" class="w-full h-48 object-cover" />
  <div class="p-4">
    <h3 class="text-lg font-semibold text-gray-800 text-center">{{ title }}</h3>
    <h4 class="text-base font-semibold text-gray-800 text-center">€ {{ price }}</h4>
    <a
      [href]="buttonLink"
      class="text-center block mt-2 hover:bg-gray-400 bg-gray-800 hover:underline hover:text-black text-white font-bold py-3 px-6 rounded-md shadow-md transition"
      target="_blank"
      rel="noopener noreferrer"
    >
      {{ buttonName }}
    </a>
  </div>
</div>
